node_modules
npm-debug.log
dist
build
storage/app/public
storage/framework
storage/logs
.env
.vscode
*.iml
*.sublime*
.DS_Store
.git
.gitignore
/tests
/database/*.sqlite
/public/hot
/public/storage
composer.lock
package-lock.json
