@import 'tailwindcss';

@theme {
    --color-primary: #3D405B;
    --color-secondary: #E07A5F;
    --color-tertiary: #81B29A;
    --color-quaternary: #F4F1DE;

    /* Light theme colors */
    --background: var(--color-quaternary);
    --foreground: var(--color-primary);
    --card-bg: var(--color-quaternary);
    --card-text: var(--color-primary);
    --border-color: var(--color-tertiary);

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-accent: #F2CC8F;
    --color-accent-content: var(--color-primary);
    --color-accent-foreground: var(--color-quaternary);

    --color-foreground: var(--foreground);
}


.dark {
    --background: #3D405B;
    --foreground: #F4F1DE;
    --card-bg: #3D405B;
    --card-text: #F4F1DE;
    --border-color: #81B29A;

    --color-accent: #F2CC8F;
    --color-accent-content: #3D405B;
    --color-accent-foreground: #F4F1DE;
}

/* Base border color for all elements */
*,
::after,
::before,
::backdrop,
::file-selector-button {
    border-color: var(--border-color, currentColor);
}